.top {
	height: 100%;
	overflow: hidden;
}

.top section {
	height: 480px;
}

.top .section2 {
	background: #2980b9;
}

.top .section3 {
	background: #27ae60;
}

.top .section4 {
	background: #8e44ad;
}

/*
Google map
*/
.map-canvas {
	height: 320px;
}

.scrollContent {
	height: 100%;	
}


